#cards {
    margin-top: 10px;
}
.bop table {
    border-collapse: collapse;
}
.bop tr {
    border: none;
}
.bop td {
  border-right: solid 1px #000; 
  border-left: solid 1px #000;
  text-align: center;
}
.bop th.full {
    border: solid 1px black;
}
.bop td.top {
    border-top: solid 1px black;
}
.bop td.bot {
    border-bottom: solid 1px black;
}
.arrow {
    max-height: 100%;
    max-width: 100%;
    width: 50px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}
.fullwh {
    display: block;
    width: 100%;
    height: 100%;
}
.fullwh:hover {
    background-color: #343A40;
}
#quiz img{
    width: 100%;
}
.col-2 {
    padding: 0;
}
.col-8 {
    padding: 0;
}
div.border * {
    margin-bottom: 0;
}