h1 Section 1 - Logic Statements
p The following are examples of statements
ul
    li Five is less than ten.
    li Pigs can fly.
    li There is life on Mars.
    li Welcome to Tweedy's farm!
    li What's in the pies!
    li It's not as bad as it looks
p
    | A statement is a sentence that is either 
    strong true 
    | or 
    strong false 
    | (but not both!)

p False and True are Boolean values: &#120121; = {F,T} (after G. Boole, 1815 - 1864)

ul
    li value(5 < 10) = T
    li value("Pigs can fly") = F
    li vaalue("It's not as bad as it looks") = undefined
    li value("The pie is not as badas it looks") = F