h1 Section 2 - Quantifiers
p Let P(x) be a predicate with variable x
p Can make statements by quantifiers
p 
  strong Existential 
  | (FOR SOME x, P(x)): &exist;x : P(x)
p 
  strong Universal 
  | (FOR ALL x, P(x)): &#8704;x : P(x)
p A particular range of x is always assumed, and often made explicit
p
  i Examples:
ul
  li &exist;x &#8712; &#8469; : x < 10
  li &#8704;p &#8712; Pies : "p is not as bad as it looks"
  li &#8704;x &#8712; &#8469; : &exist;y &#8712; &#8469; : x < y
  li &exist;y &#8712; &#8469; : &#8704;x &#8712; &#8469; : x < y — note the difference!