h1 Section 3 - Logic laws
p.text-center Laws of Boolean logic (hold for all A, B and C):
ul
  li
    i double negation: 
    | &#xac;&#xac;A ⇐⇒ A
  li
    i &#8743; idempotent: 
    | A &#8743; A ⇐⇒ A
  li
    i &#x2228; idempotent: 
    | A &#x2228; A ⇐⇒ A
  li
    i &#8743; commutative: 
    | A &#8743; B ⇐⇒ B &#8743; A
  li
    i &#x2228; commutative: 
    | A &#x2228; B ⇐⇒ B &#x2228; A
  li
    i &#8743; associative: 
    | (A &#8743; B) &#8743; C ⇐⇒ A &#8743; (B &#8743; C)
  li
    i &#x2228; associative: 
    | (A &#x2228; B) &#x2228; C ⇐⇒ A &#x2228; (B &#x2228; C)
  li
    i &#8743; distributes over &#x2228;: 
    | A &#8743; (B &#x2228; C) ⇐⇒ (A &#8743; B) &#x2228; (B &#8743; C)
  li
    i &#x2228; distributes over &#8743;: 
    | A &#x2228; (B &#8743; C) ⇐⇒ (A &#x2228; B) &#8743; (B &#x2228; C)
p Compare a * (b + c) = a * b + a * c, but a + b * c &ne; (a + b) * (a + c)

p
  i De Morgan's Laws:
ul
  li &#xac;(A &#8743; B) ⇐⇒ &#xac;A &#x2228; &#xac;B
  li &#xac;(A &#x2228; B) ⇐⇒ &#xac;A &#8743; &#xac;B
p Thus, A &#8743; B ⇐⇒ &#xac;(&#xac;A &#x2228; &#xac;B), so &#8743; can be expressed via &#xac;, &#x2228;
p Also, A &#x2228; B ⇐⇒ &#xac;(&#xac;A &#8743; &#xac;B), so &#x2228; can be expressed via &#xac;, &#8743;
p (Cannot remove both &#8743;, &#x2228; at the same time!)

p Still more laws of logic:
ul
  li
    i identity laws: 
    | A &#8743; T ⇐⇒ A, A &#x2228; F ⇐⇒ A
  li
    i annihilation laws: 
    | A &#8743; F ⇐⇒ F, A &#x2228; T ⇐⇒ T
  li
    i laws of excluded middle: 
    | A &#8743; &#xac;A ⇐⇒ F, A &#x2228; &#xac;A ⇐⇒ T
  li
    i absorption laws: 
    | A &#8743; (A &#x2228; B) ⇐⇒ A ⇐⇒ A &#x2228; (A &#8743; B)
  li (A ⇒ B) ⇐⇒ (&#xac;A &#x2228; B) ⇐⇒ &#xac;(A &#8743; &#xac;B)
  li (A ⇔ B) ⇐⇒ (A ⇒ B) &#8743; (B ⇒ A) ⇐⇒ (A &#8743; B) &#x2228; (&#xac;A &#8743; &#xac;B)
p So, ⇒ and ⇔ are redundant (but convenient)

p All these laws can be verified by truth tables
p
  i Example: 
  | &#xac;(A &#8743; B) ⇐⇒ (&#xac;A &#x2228; &#xac;B)
table.bop.m-auto
  tr
    th.full A
    th.full B
    th.full A &#8743; B
    th.full &#xac;(A &#8743; B)
    th.full &#xac;A
    th.full &#xac;B
    th.full (&#xac;A &#x2228; &#xac;B)
  tr 
    td T
    td T
    td T
    td F
    td F
    td F
    td F
  tr
    td T
    td F
    td F
    td T
    td F
    td T
    td T
  tr
    td F
    td T
    td F
    td T
    td T
    td F
    td T
  tr
    td F
    td F
    td F
    td T
    td T
    td T
    td T
  tr
    td.bot
    td.bot
    td.bot
    td.bot *
    td.bot
    td.bot
    td.bot *
br