h1 Section 1 - Logic operators priorities
p
  | To reduce the number of brackets, we use 
  i priorities
p Highest priority: &#xac;, then &#8743;, &#x2228;, ⇒, ⇔
p
  i Example: 
  | &#xac;(A &#8743; B) ⇔ &#xac;A &#x2228; &#xac;B means
p (&#xac;(A &#8743; B)) ⇔ ((&#xac;A) &#x2228; (&#xac;B))