h1 Section 4 - Contrapositive, converse, proof by contradiction
p Using laws of logic
p Prove: (A ⇒ B) ⇐⇒ (&#xac;B ⇒ &#xac;A).
p
  strong Proof.
.border.border-dark.p-3
  p (&#xac;B ⇒ &#xac;A) ⇐⇒ (&#xac;&#xac;B &#x2228; &#xac;A) ⇐⇒ (B &#x2228; &#xac;A) ⇐⇒ (&#xac;A &#x2228; B) ⇐⇒ (A ⇒ B)
  p &#xac;B ⇒ &#xac;A is the contrapositive of A ⇒ B
  p B ⇒ A is the converse of A ⇒ B
  p 
    | Statement A ⇒ B is equivalent to its 
    strong contrapositive, 
    | but not to its 
    strong converse.
p Equivalence with contrapositive allows proof by contradiction

p
  i Example of a proof by contradiction:
.border.border-dark.p-3
  p Holmes: I see our visitor was absent-minded...
  p Watson: But why!??
  p Holmes: Elementary, my dear Watson! Alert people never leave things behind. But he left his walking stick. Therefore, he must be absent-minded.
  p A = "person is alert"
  p B = "person does not leave things behind"
  p Holmes' argument: (A ⇒ B) =⇒ (&#xac;B ⇒ &#xac;A)

p Sign in a restaurant:
p
  i Good food is not cheap
p
  i Cheap food is not good
p Is it repeating the same thing twice?
p Yes! The statements are contrapositives to each other